.profile-card {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  width: 100%;
  background-size: cover;
  margin-top: 25px;
  height: 180px;
  border-radius: 15px;
  padding: 25px 15px 25px 15px;
}

.profile-image {
  height: 40px;
}

.user-name {
  font-family: 'Roboto';
  color: #6366f1;
  font-size: 24px;
}

.short-bio {
  font-family: 'Roboto';
  color: #64748b;
}

.retry-button {
  background-color: #4f46e5;
  color: #ffffff;
  font-family: 'Roboto';
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 20px 8px 20px;
  border-radius: 3px;
}

.profile-failure {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container {
  display: flex;
  justify-content: center;
  height: 200px;
  align-items: center;
}

.break-line {
  border: 1px solid #7e858e;
  margin-top: 15px;
  margin-bottom: 15px;
}
